*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.container{
  position: relative;
  width: 100%;
  /* min-height: 80vh; */
  overflow: hidden;
  border-bottom: 2px solid;
}
a{
  text-decoration: none;
  /* color: #fff; */
}
.divcenter{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  flex-direction: column;
  gap:2.6rem;
}
.img{
  width: 100%;
  overflow: hidden;
}